@import "../utils/variables";
@import "../utils/mixins";

header {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;

    .menu-brand {
      max-width: 103px;
      padding: 8px;

      font-family: $font-main;
      font-size: $text-md;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      line-height: $leading-2xl;

      color: grey;
      border: solid 1px $white;
    }

    .menu-toggler {
      position: absolute;
      right: 12px;
      border: none;
      color: $white;
      background: none;
      z-index: 100;

      @include media-gte-lg {
        display: none;
      }
    }

    .menu-collapse {
      display: none;

      @include media-gte-lg {
        display: block;
      }

      ul {
        @include media-gte-lg {
          display: flex;
          column-gap: 86px;
        }
      }

      li.active {
        text-decoration: underline;
        text-underline-position: under;
        text-underline-offset: 8px;
      }
    }

    .menu-collapse.opened {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 90;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $black;
      width: 100%;
      height: 100%;

      li {
        margin: 32px auto;
      }
    }

    .menu-link {
      text-decoration: none;
      color: $white;
    }

    .material-icons {
      font-size: $text-2xl;
    }
  }
}