@import "../utils/variables";
@import "../utils/mixins";

.container {
  margin: 0 $body-margin-x;
  height: 100vh;

  display: flex;
  flex-direction: column;
  row-gap: $body-flex-gap;


  @include media-gte-lg {
    margin: 0 $body-margin-x-desktop;
  }

  header {
    margin-top: 20px;
  }

  main {
    flex-grow: 2;
  }

  footer {
    margin-bottom: 24px;
  }
}